@import "../../index.scss";

.chat-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.line-chart {
  color: $color-primary-variant;
  display: flex;
  margin-bottom: 20px;

  justify-content: space-around;
  .line-red {
    display: flex;
    align-items: center;
    gap: 10px;

    .red {
      background: red;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }
  .line-green {
    display: flex;
    align-items: center;
    gap: 10px;
    .green {
      background: $color-green;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
  }
}
.orange-dot {
  color: black;
  position: absolute;
  bottom: 15rem;
  left: 10rem;
  z-index: 999;
}
.chartGrid {
  stroke: rgb(228, 225, 225);
}
