@import "../../index.scss";

.tabs {
  display: flex;
  flex-direction: column;

  .tabs-chart {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  .tabs-content {
    margin: 20px 0 20px 0;
    background-color: $color-white;
    color: $color-primary;
    border-radius: 10px;

    flex: 2;
    -webkit-box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 20px 1px rgba(164, 164, 164, 0.47);
    padding: 20px 0 20px 0;
    .content {
      display: none;

      &.active {
        display: block;
        background: rgb(255, 244, 220);
      }
    }
  }
}
