/* Importing Global Styles */
@import '../../index.scss';

// Variables
$primaryColor: $color-primary-variant;
$mobileBreakpoint: 960px;

/* Navigation Bar */
.navbar {
  background-color: $color-white;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

/* Navigation Logo */
.nav-logo {
  color: $primaryColor;
  cursor: pointer;
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  flex-grow: 1;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  .nav-item {
    .nav-links {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      height: 100%;
      color: $primaryColor;
      padding: 1rem;
      &.remove {
        color: red;
        border: 1px solid black;
      }
    }
  }
}

/* Navigation Icon and Arrow (Initially Hidden) */
.nav-icon,
.nav-arrow {
  display: none;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: $mobileBreakpoint) {
  .nav-menu {
    display: flex;
    gap: 0;
    flex-direction: column;
    width: 60%;
    border: 1px solid $primaryColor;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 110%;
    opacity: 1;
    transition: all 0.5s ease;

    &.active {
      background: $color-white;
      left: 33%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    border-bottom: 1px solid $primaryColor;
    &.remove {
      border: 0 !important;
    }
  }

  .nav-logo {
    flex: 6;
    text-align: center;
    font-size: 24px;
  }

  .nav-arrow,
  .nav-icon {
    display: block;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $primaryColor;
  }
}

/* Overlay for mobile menu */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
}
