/* Importing Global Styles */
@import "../../index.scss";

/* Navigation Bar */
.navbar {
  background-color: $color-white;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 30;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
}

/* Navigation Logo */
.nav-logo {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;
  font-size: 34px;
  font-weight: 550;
  flex-grow: 1;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  .nav-item {
    a {
      gap: 10px;
    }
    .nav-links {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      height: 100%;
      color: $color-primary;
      padding: 1rem;
      &.remove {
        color: $color-red;
        border: 1px solid $color-red;
      }
    }
  }
}

/* Navigation Icon and Arrow (Initially Hidden) */
.nav-icon,
.nav-arrow {
  display: none;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: $mobileBreakpoint) {
  .hr-line {
    display: none;
  }

  .nav-menu {
    visibility: hidden;
    overflow: hidden;
    gap: 0;
    flex-direction: column;
    width: 60%;
    border: 1px solid $color-primary;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    right: -10px;
    opacity: 0;
    transition: all 0.5s ease-in;
    &.active {
      visibility: visible;
      background: $color-white;
      right: 10%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }
  .nav-logo {
    color: $color-primary;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 28px;
    font-weight: 550;
    flex-grow: 1;
  }

  .nav-links {
    padding: 1rem 1.5rem 1rem 2.5rem;
    &.remove {
      border: 0 !important;
    }
    .nav-link-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 23px;
      color: $color-primary;
    }
  }

  .nav-arrow,
  .nav-icon {
    display: block;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: $color-primary;
  }
}

/* Overlay for mobile menu */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 20;
}

.hr-line {
  background: #aeb8c4;
  height: 1px;
  width: calc(100% - 1rem);
  margin-left: auto;
}
