@import "../../index.scss";

.BottomNav {
  background: $color-white;
  width: 100%;
  display: block;
  padding: 1rem 0;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;

  .BottomNav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary-variant !important;
    .icon {
      padding: 0.8rem;
      color: $color-primary-variant;
      font-size: 1.5rem;
      transition: color 0.3s;
      display: flex;
      align-items: center;
    }

    .icon:hover {
      color: $color-primary;
    }

    a.active {
      color: $color-primary;
    }
  }
}
