@import url("https://fonts.googleapis.com/css2?family=SFProDisplay:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

$color-bg: #f3f6f9;
$color-white: #ffffff;
$color-primary: #4c5968;
$color-primary-variant: #aeb8c4;
$color-red: #ee225d;
$color-orange: #ff991f;
$color-green: #1ec070;

$transition: all 400ms ease;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$mobileBreakpoint: 768px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SFProDisplay", sans-serif;

  background-color: $color-bg;
  color: $color-white;
  line-height: 1.7;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .page-container {
    padding: 0 25px;
  }
}
.primary-button .secondary-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.primary-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: $color-orange;
  color: $color-white;
  border: 1px solid $color-orange;
}
.secondary-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: $color-white;
  color: $color-orange;
  border: 1px solid $color-orange;
}

.primary-button:hover {
  background-color: $color-white;
  border: 1px solid $color-orange;
  color: $color-orange;
}
.secondary-button:hover {
  background-color: $color-orange;
  color: $color-white;
}

.tab-button {
  background-color: transparent;
  padding: 2px 7px;
  cursor: pointer;
  color: $color-primary-variant;
}

.tab-button:hover {
  background-color: $color-white;
  color: $color-primary-variant;
  border: 1px solid $color-primary-variant;
  border-radius: 30px;
}

.tab-button_active {
  background-color: $color-primary-variant;
  padding: 2px 10px;
  cursor: pointer;
  color: $color-white;
  border: 1px solid $color-primary-variant;
  border-radius: 30px;
}
